#banner {
    width: 780px;
    height: 124px;
    background-image: url('../images/banner.png');
    position:relative;
    /*
    z-index: -1;
    */
}

#login_button {
    height: 64px;
    width: 64px;
    position: relative;
    top:0px;
    right:-710px;
}

#login_button a {
    /*display: block;*/
    height:64px;
    width:64;
    color:transparent;
}

#user_info {
    position:absolute;
    right:0px;
    margin: 10px;
    color: white;
}

#user_info a {
    color: white;
    text-decoration: none;
}
