/* Global styles */

html,body {
    margin: 0;
    padding: 0;
}

body {
    font: 76% arial,sans-serif;
    text-align: center;
}

#container {
    text-align: left;
    border: 1px solid gray;
    width: 780px;
    margin: 0 auto;
}

#content {
    background-color: #ededed;
    float: left;
    width: 550px;
}
#content p {
    line-height:1.4;
}

#footer {
    background: #000000;
    color: #FFF;
    clear: both;
    width: 100%;
}
#footer p {
    margin: 0;
    padding: 5px 10px
}
