#nav_bar {
    width: 780px;
    height: 20px;
    background-image: url('../images/nav_bar.png');
    z-index:-1;
    top:124px;
}

.menu_button {
    margin-left:30px;
    position:absolute;
    top: 105px;
}

.menu_button img {
    display:inline;
    border:0px;
    margin-right: 5px;
    z-index:1;
}

.menu_button a {
    /*for no border when clicked*/
    color:transparent;
}

.menu_button #gallery {
}
