.news table {
    border-collapse:collapse;
    border-color:black;
    font-size:larger;
    vertical-align: top;
}
/*
 *
 .news table tr td {
 padding: 5px;
}

    .news .news_description {
    width: 95%;
    color: white;
}

    .news a {
    text-decoration:none;
    color:white;
}


    #first {
    pading-top:10px;
}

 */

    .news .news_description dl {
        margin: 0;
}

/*

.news .news_description dt {
color:        white;
font-weight:  bold;
font-size:    larger;
}

    .news .news_description dd {
    margin: 0;
}

 */

.news .news_actions {
        font-size: x-small;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 1em;
}

.news a {
    text-decoration: none;
    color:white;
}
.news .list_line_even {
    background:   #606060;
}
.news .list_line_odd {
    background:   #484848;
}

#pagination_links {
    padding: 5px;
}
