/* Global styles */

#container {
  width:900px;
  margin:0 auto;
  margin-top:9px;
  background-color:black;
  border:1px solid gray;

  line-height:150%;
}

#banner {
  background-color: #ff6633;
  padding:0.5em;
  color:black;
  font: small-caps 40px/40px "Times New Roman", serif;
  clear:left;
}

#banner h1 {
  padding:0;
  margin:0;
}

div.left {
    float:left;
    width:160px;
    margin:0;
    padding:1em;
}
div.content {
    margin-left:190px;
    border-left:1px solid gray;
    padding:1em;
}

#navigation_bar {
  float: left;
  width: 15em;
  background-color: #ff6633;
  margin:0;
}

#navigation_bar a:link, a:visited {
  display:block;
  font-weight:bold;
  font-size:20px;
  color: #000000;
  background:   #ff6600;
  text-align:center;
  border:1px solid black;
  border-collapse: collapse;
  text-decoration:none;
  padding:4px;
  margin-top:1px;

}

#navigation_bar a:hover,a:active {
  background-color:#994400;
}

.user_info {
  float: right;
  font-weight: bold;
  color:white;
}

.user_info a {
  float:right;
  text-decoration :none;
  color:white;
}

#columns {
  background: #141;
}

#main {
  margin-left: 13em;
  padding-left: 2em;
  /*padding-top: 4ex;
  background: white;
  */
}

/* Styles for home/index */

.news {
  border-collapse: collapse;
  position:center;
  font-size:larger;
}

.news table tr td {
  vertical-align: top;
  padding: 5px;
}

.news .news_image {
  width:        60px;
  height:       70px;
}

.news .news_description {
  width:       95%;
}

.news .news_description dl {
  margin: 0;
}

.news .news_description dt {
  color:        #000000;
  font-weight:  bold;
  font-size:    larger;
}

.news .news_description dd {
  margin: 0;
}

.news .news_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

.news .list_line_even {
  background:   #ff6600;
}

.news .list_line_odd {
  background:   #ff9900;
}

/* An entry in the news catalog */

.news .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

.news .title {
  font-size: 200%;
  font-family: sans-serif;
}

.news .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

.news .entry p {
 margin-top: 0.5em;
 margin-bottom: 0.8em;
}

.news .entry .price_line {
 clear: both;
 margin-bottom: 0.5em;
}

.news .entry .add_to_cart {
  position: relative;
}

.news .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}
