%h1 Witamy na stronie poświęconej Capoeira!
Jest to strona Wrocławskiej częśći grupy Companhia Pernas Pro Ar. Jeśli nie wiesz czym jest capoeira już wyjaśniamy...
%h2 Capoeira
\...to brazylijska sztuka walki siegająca swoją tradycją czasów niewolnictwa. Obecnie ogarnęła swym zasięgiem wszystkie kontynenty. Ćwiczą dzieci, młodzież, dorośli – kobiety i mężczyźni. Capoeira to dobrze spędzony czas, dla niektórych pozostaje zabawą, inni odnajdują w niej pasję i sposób na życie.
%h3 Grupa Companhia Pernas Pro Ar
Grupa Companhia Pernas Pro Ar powstała w Brazylii, w mieście Belo Horizonte. Jest wynikiem pracy dwóch braci: mestre Porquinho i mestre Boca de Peixe. Dziś grupa liczy w przybliżeniu pięciuset członków w Brazylii i Europie. W wielu krajach organizujemy spotkania z ludźmi ćwiczącymi Capoeira, rozpowszechniamy kulturę brazylijską, szerząc jej bogate tradycje, walkę i muzykę.
%h3 CPPA w Polsce
Capoeira daje możliwość trenowania z ludźmi z całej Polski oraz z zagranicy. Co roku organizowane jest kilka spotkań, warsztatów, zmian stopni, oraz obóz letni. Nasza grupa posiada swoje oddziały w miastach: Łódź, Opole, Poznań, Stalowa Wola, Szczecin oraz w kilku mniejszych. 
%br/

- if notice
  %p.notice= notice
