.news
  %table
    - @news.each do |news_item|
      %tr{:class => [cycle('list_line_odd','list_line_even')]}
        %td.news_description
          %dl
            %dt= news_item.title
            %dd= strip_tags(news_item.content)
          %td.news_actions
            %br= link_to 'Pokaż',news_item
            -#%br= link_to 'Skomentuj',new_comment_news_path
%br/
- if notice
  %p.notice= notice
